* {
  margin:0;
  padding: 0; 
  box-sizing: border-box
}
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  width: 95%;
}
nav {
  display:flex;
  justify-content:space-between;
}
img {

  width: 100%;
  height: auto;  
}
a{
  text-decoration: none;
}
body{
  font:400 2rem 'DM Sans', 'sans-serif';

}

h1{
  font:400 1rem 'Poppins', 'sans-serif';

}

